  on crée un conteneur pour l'iframe 
  On le met en relative et le plus important c'est le ratio en %age.
  Ca permet de changer en gardant les proportions ( ici du 16/9 pour les vidéos)



.conteneur {
  margin: auto;
  margin-top: 300px;
  height: 900px;
  width: 1600px;
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.responsive-iframe {
  
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
border: 0;
}